.divmargin {
  margin-right: 30px;
  margin-bottom: 30px;
}

.logo {
    width: 36px;
    height: 20px;
    float: left;
}
@media only screen and (max-width: 768px) {
    .logo {
        width: 36px;
        height: 20px;
        float: left;
    }
}


.thumb {
  display:  block;
  float:  left;
  max-width: 140px;
  max-height: 140px;
  padding: 10px 14px 10px 14px;
}

@media only screen and (max-width: 768px) {
  .thumb {
    display: inline-block;
    float: none;
    max-width: 100px;
    max-height: 100px;
    padding: 6px 10px 6px 10px;
  }
  .post-preview{
      text-align: center !important;
  }
}

