---
layout: page
---

{% assign author = site.authors[page.author] %}

<h1>{{ author.display_name }}</h1>
<br>
{{ content }}
<br><br>

{% assign total_posts = 0 %}
{% for post in site.posts %}
    {% if post.author == page.author %}
        {% assign total_posts = total_posts | plus: 1 %}
    {% endif %}
{% endfor %}

He wrote {{ total_posts }} {% if total_posts == 1 %}post{% else %}posts{% endif %}

<hr>


{% for post in site.posts %}
        {% if post.author == page.author %}
        <div class="post-preview">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <h2 class="post-title">
                {{ post.title }}
                </h2>
                {% if post.subtitle %}
                <h3 class="post-subtitle">
                    {{ post.subtitle }}
                </h3>
                {% endif %}
            </a>
            <p class="post-meta">Posted by
              {% if author  %}
              <a href="{{ page.author | prepend: "/author/" }}">{{ author.display_name }}</a>
              {% else %}
              {{ site.title }}
              {% endif %}
              on {{ post.date | date: "%B %-d, %Y" }}
            </p>
        </div>
        {% if forloop.last == false %}
        <hr>
        {% endif %}
        {% endif %}
{% endfor %}
